@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(0, 0, 0));
  background: linear-gradient(to bottom, transparent, theme("colors.greenDark"))
    theme("colors.green");
}

/* coming from tailwind.config.js theme */
.green {
  background-color: theme("colors.green");
}

.greenDark {
  background-color: theme("colors.greenDark");
}

.red {
  background-color: theme("colors.red");
}
.redDark {
  background-color: theme("colors.redDark");
}
.yellow {
  background-color: theme("colors.yellow");
}
